<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4>Contacto</h4>
        <p>¡Estamos aquí para ayudarte! Contáctanos si tienes alguna pregunta.</p>
        <ul class="contact-info">
          <li><i class="fa fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone=+573135275805">WhatsApp: +57 313 5275805</a></li>
            <li><i class="fa fa-envelope"></i> <a href="mailto:rinconuriel555@gmail.com">Correo: rinconuriel555&#64;gmail.com</a></li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4 class="text_siguenos">Síguenos</h4>
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/tupagina" target="_blank"><i class="fa fa-facebook"></i> Uriel Rincon</a></li>
          <li><a href="https://twitter.com/tupagina" target="_blank"><i class="fa fa-twitter"></i></a> Twitter</li>
          <li><a href="https://www.instagram.com/tupagina" target="_blank"><i class="fa fa-instagram"> Uriel Rincon</i></a></li>
        </ul>
      </div>
      <div class="circulo">
        <img src="../../assets/logo1.png" alt="">
      </div>
    </div>
    <p class="copy">&copy; 2024 Uriel Networker. Todos los derechos reservados.</p>
  </div>
</footer>
