<section class="teaching">
  <div class="acordeon__container">
    <div class="acordeon__item">
        <input class="acordeon__trigger" id="dropdown_01" type="checkbox">
        <label class="acordeon__title" for="dropdown_01">Metodología duplicable:</label>
        <ul class="acordeon__wrapper">
            <li><a href="#">Fundamentos de Nuestra Metodología</a></li>
            <li><a href="#">Pasos Claros hacia el Éxito</a></li>
            <li><a href="#">Herramientas y Recursos</a></li>
            <li><a href="#">Escalabilidad y Replicabilidad</a></li>
        </ul>
    </div>
    <div class="acordeon__item">
        <div class="acordeon__divisor"></div>
        <input class="acordeon__trigger" id="dropdown_02" type="checkbox">
        <label class="acordeon__title" for="dropdown_02">Plataforma de apoyo:</label>
        <ul class="acordeon__wrapper">
            <li><a target="blank_" href="#">Equipo de Expertos a Tu Disposición</a></li>
            <li><a target="blank_" href="#">Entrenamiento y Desarrollo Personalizado</a></li>
            <li><a target="blank_" href="#">Plataforma de Aprendizaje Continuo </a></li>
        </ul>
    </div>
    <div class="acordeon__item">
        <div class="acordeon__divisor"></div>
        <input class="acordeon__trigger" id="dropdown_03" type="checkbox">
        <label class="acordeon__title" for="dropdown_03">Generación de ingresos:</label>
        <ul class="acordeon__wrapper">
            <li><a href="#">Emprendimiento Digital</a></li>
            <li><a href="#">Optimización de Flujos de Ingresos</a></li>
            <li><a href="#">Planificación Financiera</a></li>
            <li><a href="#">Modelos de Negocio Lucrativos</a></li>
        </ul>
    </div>
    <div class="acordeon__item">
        <div class="acordeon__divisor"></div>
        <input class="acordeon__trigger" id="dropdown_04" type="checkbox">
        <label class="acordeon__title" for="dropdown_04">Parte de un equipo:</label>
        <ul class="acordeon__wrapper">
            <li><a href="#">Roles y Responsabilidades Claras</a></li>
            <li><a href="#">Apoyo Mutuo y Respaldo Constante</a></li>
            <li><a href="#">Desarrollo Profesional y Crecimiento Personal</a></li>
            <li><a href="#">Liderazgo Inspirador y Motivador</a></li>
        </ul>
    </div>
  </div>

</section>
