<div class="invitation">
  <h1 class="text">
    ¡Únete a nosotros y sé parte de un equipo que está cambiando vidas en todo el mundo!
  </h1>

  <h2 class="text">
    A través de la tecnología y las redes sociales, generamos ingresos sostenibles, brindándote la oportunidad de
    trabajar desde cualquier lugar del planeta. Juntos, hagamos realidad tus sueños mientras construimos un futuro
    próspero para todos.
  </h2>

  <video style="width: 80%; height: 80%; top: 0; left: 0; border-radius: 10px;" controls>
    <source src="../../assets/video.mp4" type="video/mp4">
  </video>
</div>
