<article class="Section_About">
    
    <div class="About_info">
        <div class="About_info_text">
            <h1 class="About_title"><span>¡Maximiza tu potencial</span> con herramientas especializadas que te
                impulsarán hacia tus metas!</h1>
            <p class="About_text_parraf">
                ¡Hola, soy Uriel R.! Me embarco en una emocionante travesía para transformar mi carrera profesional.
                ¿Qué me impulsa a tomar esta valiente decisión?
            </p>
            <a href="https://api.whatsapp.com/send?phone=3135275805&text=¡Hola%20Sr. Uriel!%20Vi%20su%20página%20web%20y%20quiero%20saber%20cómo%20emprender%20y%20formar%20parte%20de%20tu%20equipo,%20mi%20nombre%20es...%20"
                target="_blank">
                <button class="About_btn">Conversémos</button>
            </a>
        </div>
        <img class="About_img" src="../assets/foto_about1.png" alt="foto">
    </div>
</article>