<div class="contact">
  <div class="contact_info">
    <h1 class="contact_title">¡Transforma el presente y forja un futuro completamente nuevo!</h1>
    <p class="contact_text"> Descubre un mundo de oportunidades ilimitadas y comienza tu viaje hacia el éxito desde
      cualquier lugar del planeta.
    </p>
    <p class="contact_text"> ¡Todo lo que necesitas es tu teléfono, tu tableta o tu computadora portátil. ¡El futuro te
      espera con los brazos abiertos!
    </p>
    <div class="container_writer">
      <div class="typewriter">
        <div class="slide"><i></i></div>
        <div class="paper"></div>
        <div class="keyboard"></div>
      </div>
    </div>
  </div>
  <form class="form" action="https://formspree.io/f/xnqegavg" method="POST">
    <h3 class="form_title">Complete el formulario y programemos una reunión de 15 minutos a través de Zoom</h3>
    <h4 class="form_label">¿Cual es su nombre y Apellido? <span>*</span></h4>
    <input class="controls" type="text" name="Nombres" id="nombres" placeholder="Ingrese su Nombre"
      pattern="^[a-zA-Z\s]+$">
    <h4 class="form_label">¿Cual es su número de WhatsApp <span>*</span></h4>
    <input class="controls" type="text" name="Telefono" id="Telefono" placeholder="Ingrese su WhatsApp">
    <h4 class="form_label">¿Cual es su Correo? <span>*</span></h4>
    <input class="controls" type="email" name="Correo" id="Correo" placeholder="Ingrese su Correo">
    <h4 class="form_label">¿Cual es su Ciudad/País? <span>*</span></h4>
    <input class="controls" type="text" name="Ciudad/Pais" id="Ciudad/Pais" placeholder="Ingrese su Ciudad/Pais">
    <input class="controls" type="submit" value="ENVIAR">
  </form>

</div>
