<section>
  <app-nav-bar />
</section>

<section id="inicio">
  <app-about/>
</section>

<section>
  <app-opportunity/>
</section>

<section  id="history">
  <app-history/>
</section>

<section id="enseñanza">
  <app-teaching/>
</section>

<section id="relatos">
  <app-relato/>
</section>

<section  id="invitacion">
  <app-invitacion/>
</section>

<section id="contacto">
  <app-contact/>
</section>

<section>
  <app-footer/>
</section>


<button id="inicio"  class="btn" [class.active]= "btnActive" (click)= "scrollToTop()"><i class="fa-solid fa-arrow-up"></i></button>
