<section class="section_relato">
  <ul class='gallery'>
    <li class='slide' style="background-image: url('../../assets/beatriz.png')">
      <div class='content content2'>
        <h2 class='heading'>"BEATRIZ MARTINEZ"</h2>
        <p class='info'> Gracias a Dios que me permitió conocer esta oportunidad donde he podido obtener un crecimiento
          personal atraves de un equipo y un sistema educativo queme ha enseñado como poder ayudar a muchas personas ha
          cambiar sus vidas </p>
      </div>
    </li>
    <li class='slide' style="background-image: url('../../assets/lili.png')">
      <div class='content'>
        <h2 class='heading'>"IDALIDIS RINCON"</h2>
        <p class='info'> Mi experiencia con este negocio ha sido transformadora en todos los aspectos de mi vida. Antes
          de unirme, me encontraba atrapado en una rutina agotadora, sin tiempo para mí ni para mis seres queridos.
          Además, las preocupaciones financieras constantes afectaban mi salud física y emocional.

          Desde que me uní a este negocio, todo ha cambiado para mejor. Gracias a la flexibilidad que ofrece, he
          recuperado el control de mi tiempo. Ahora puedo dedicar más momentos a lo que realmente importa: estar con mi
          familia, disfrutar de mis pasatiempos y cuidar de mí mismo. </p>
      </div>
    </li>
    <li class='slide' style="background-image: url('../../assets/betsabe.png')">
      <div class='content'>
        <h2 class='heading'>"BETSABET "</h2>
        <p class='info'>Mi experiencia con este negocio ha sido para mí una gran bendición por que ha impactado mi vida
          en muchos aspectos positivos y me ha ayudado a crecer como persona.
          Anterior a esto, me encontraba trabajando en el área de psicología, la cual tenía que cambiar el tiempo por
          dinero sin disfrutar con mis hermosas hijas, y el sueldo siempre fue limitado.
          Le doy gracias a Dios primeramente por conocer este negocio, y por permitirme vivir esta experiencia única, de
          transformar mi vida y tener el tiempo que tanto necesitaba y darle una mejor calidad de vida a mis seres
          queridos. </p>
      </div>
    </li>
    <li class='slide' style="background-image: url('../../assets/fabio.png')">
      <div class='content'>
        <h2 class='heading'>"FABIO BERNAL"</h2>
        <p class='info'>
          Hoy, puedo decir con confianza que mi vida ha sido transformada por completo gracias a mi decisión de
          emprender en este negocio. Me siento más empoderado, más motivado y más preparado que nunca para
          enfrentar cualquier desafío que el futuro pueda traer. Esta experiencia ha sido un viaje increíblemente
          gratificante, y estoy emocionado por ver a dónde me llevará en los próximos años.
        </p>
      </div>
    </li>
  </ul>
  <nav class='navigation'>
    <i class="btn prev fa-solid fa-left-long"></i>
    <i class="btn next fa-solid fa-right-long"></i>
  </nav>
</section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
