<article class="history">
  <div class="container_cards">
    <div class="card1">
      <div class="icon">
        <a href=""> <i class="fa-solid fa-user-clock"></i></a>
      </div>
      <h1>TIEMPO</h1>
      <p class="text_card">"Oportunidad que te libera de la rutina diaria, dándote el tiempo para explorar nuevas oportunidades, y estar
        con tus seres queridos"
      </p>
      <a href="https://api.whatsapp.com/send?phone=3135275805&text=¡Hola%20Sr. Uriel!%20Vi%20su%20página%20web%20y%20quiero%20saber%20cómo%20emprender%20y%20formar%20parte%20de%20tu%20equipo,%20mi%20nombre%20es...%20" target="_blank">
        <p class="hablemos_btn">→ Hablemos ←</p>
      </a>
    </div>
    <div class="card1">
      <div class="icon">
        <a href=""><i class="fa-solid fa-money-bills"></i></a>
      </div>
      <h1>LIBERTAD FINANCIERA</h1>
      <p class="text_card">"Alcanza la libertad financiera que siempre has deseado. Disfruta de un estilo de vida único y gratificante diseñado especialmente para ti"
      </p>
      <a href="https://api.whatsapp.com/send?phone=3135275805&text=¡Hola%20Sr. Uriel!%20Vi%20su%20página%20web%20y%20quiero%20saber%20cómo%20emprender%20y%20formar%20parte%20de%20tu%20equipo,%20mi%20nombre%20es...%20" target="_blank">
        <p class="hablemos_btn">→ Hablemos ←</p>
      </a>
    </div>
    <div class="card1">
      <div class="icon">
        <a href=""><i class="fa-solid fa-heart-pulse"></i></a>
      </div>
      <h1>BIENESTAR</h1>
      <p class="text_card">"Descubre el poder de la salud integral y el bienestar duradero. Juntos, podemos trazar un camino hacia una vida
        plena, única y vibrante"</p>
      <a href="https://api.whatsapp.com/send?phone=3135275805&text=¡Hola%20Sr. Uriel!%20Vi%20su%20página%20web%20y%20quiero%20saber%20cómo%20emprender%20y%20formar%20parte%20de%20tu%20equipo,%20mi%20nombre%20es...%20" target="_blank">
        <p class="hablemos_btn">→ Hablemos ←</p>
      </a>
    </div>
  </div>

</article>
